:root {
    --nav-gray: rgb(161, 161, 161);
    --dark-gray: rgb(79, 79, 79);
}

body {
    margin: 0;
    text-align: center;
}

/* main styles */
#main-container {
    width: 80%;
    min-height: 100vh;
    border-radius: 6px;
    border: 2px solid var(--nav-gray);
    margin: 50px auto;
    box-sizing: border-box;
}

#main-page-image {
    width: 60%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top:20px;
}

.description-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 80%;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: left;
}

.horizontal-line {
    border: 0.5px solid var(--nav-gray);
    width: 80%;
    margin: 1rem auto;
}

#body-container {
    width: 100%;
}

.header {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
    margin-bottom: 0em;
}

/* NAVIGATION BAR STYLES START */
nav {
    width: 100%;
    text-align: center;
}

nav ul, footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: rgb(122, 122, 122);
    margin: 10px;
    text-underline-offset: 8px;
}

nav a, footer a {
    text-decoration: none;
    color: inherit;
}

#nav-container {
    width: 100%;
}

#nav-container h1 {
    font-weight: 700;
    font-size: 2em;
}

nav li:hover {
    color: black;
    text-decoration: underline var(--nav-gray) solid 1.5px;
}
/* NAVIGATION BAR STYLES END */

/* FOOTER STYLES START */
footer {
    width: 100%;
    padding: 1em 0;
}

footer h1 {
    font-size: 1.5em;
    color: var(--dark-gray);
}

.footer-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: inherit;
}

footer li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--dark-gray);
    margin: auto 10px;
}

footer li:hover {
    color: black;
}

footer ul {
    width: 100%;
    text-align:center;
    margin: 10px;
}
/* FOOTER STYLES END */

/* RESUME STYLES */

.resume-header {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--dark-gray);
    margin: 1em;
}

.resume-section {
    margin: 3em;
}

.resume-list {
    width: 60%;
    margin: 0px auto;
    padding-left: 10px;
}

.resume-list li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: var(--dark-gray);
    margin: 5px;
}

/* PORTFOLIO STYLES */

#platformer-game-image {
    width: 40%;
}

/* https://www.w3schools.com/csS/css3_object-fit.asp was having trouble with aspect ratio*/
#verb-vault-image {
    width: 50%;
    height: auto;
    object-fit: contain;
}

.portfolio-section {
    margin: 3em;
    display: flex;
    flex-direction: row;
}

.portfolio-section-header {
    font-size: 1.6em;
    font-weight: 300;
    color: var(--dark-gray);
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.portfolio-description-container {
    text-align: center;
    width: 100%;
    opacity: 0;
    /* https://www.w3schools.com/cssref/css3_pr_transition.php/css3_pr_opacity.php */
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
}

.portfolio-description-container.show {
    opacity: 1;
}

.portfolio-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 80%;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: left;
}